$primary-color: #107bff;
$dark-color: #000;
$light-color: #fff;
$gray-color: #dfdfdf;
$cancel-color: #f6394a;

$gray-base: #757575;
$gray-100: rgba(117, 117, 117, 1); // 100%
$gray-80: rgba(117, 117, 117, 0.8); // 80%
$gray-60: rgba(117, 117, 117, 0.6); // 60%
$gray-40: rgba(117, 117, 117, 0.4); // 40%
$gray-20: rgba(117, 117, 117, 0.2); // 20%

$blue-base: #1265c0;
$blue-100: rgba(18, 101, 192, 1); // 100%
$blue-80: rgba(18, 101, 192, 0.8); // 80%
$blue-60: rgba(18, 101, 192, 0.6); // 60%
$blue-40: rgba(18, 101, 192, 0.4); // 40%
$blue-20: rgba(18, 101, 192, 0.2); // 20%

$green-base: #3fb24f;
$green-100: rgba(63, 178, 79, 1); // 100%
$green-80: rgba(63, 178, 79, 0.8); // 80%
$green-60: rgba(63, 178, 79, 0.6); // 60%
$green-40: rgba(63, 178, 79, 0.4); // 40%
$green-20: rgba(63, 178, 79, 0.2); // 20%
