.dashboard {
  display: grid;
  grid-template-columns: auto 1fr; // Sidebar fixed width
  grid-template-rows: 80px 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  height: 100vh;
  column-gap: 8px;
}

.header {
  grid-area: header;
  box-shadow: 1px 1px 4px 0 rgba(111, 109, 109, 0.5);
  z-index: 10;
  padding: 0 10px;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  // box-shadow: 1px 1px 5px rgba(111, 109, 109, 0.5);
  // background-color: #f8f9fa;
  width: fit-content;

  & * {
    width: 100%;
  }
}

.main {
  grid-area: main;
  padding: 16px;
  overflow-y: auto;
}

.footer {
  grid-area: footer;
  box-shadow: 1px -1px 4px 0 rgba(111, 109, 109, 0.5);
  z-index: 10;
  padding: 10px;
  background-color: #f8f9fa;
}
