@use "../../../resources/styles/variables.scss" as var;

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button--primary {
  width: 100%;
}

.login__form--footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button--none {
  color: var.$primary-color;
}

.button--none:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}
