@use '../../../resources/styles/variables.scss' as var;

.login {
  &__container {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var.$gray-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 4rem 2rem;
    background-color: var.$light-color;
    border-top-left-radius: 19%;
    border-top-right-radius: 19%;
    height: 60%;
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  &__logo {
    width: 20%;
  }

  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
  }

  &__title {
    color: var.$blue-100;
    font-family: 'Quicksand', sans-serif;
  }

  &__subtitle {
    color: var.$gray-60;
  }

  &__btn-success {
    background-color: var.$green-100;
    color: white;
    border-radius: 8px;
    border: none;
    width: 100%;
  }
}

h3 {
  font-size: 25px;
}

h5 {
  font-size: 14px;
}

.login__form--footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button--none {
  color: var.$dark-color;
}

.button--none:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.background {
  background: linear-gradient(
      135deg,
      rgba(74, 177, 230, 0.8) 0%,
      rgba(85, 208, 160, 0.7) 50%,
      rgba(182, 241, 98, 0.8) 100%
    ),
    url('/public/img/3.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
